
<div class="container parent-container">
    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
        <div class="row">
            <div class="col-md-8 divwithscrollbar">
                    <div class="row">
                        <div class="col-md-8 select2">
                            <span>Source</span>
                            <ngx-select  [items]="airports.city" [(ngModel)]="searchDetails.source" required [ngModelOptions]="{standalone: true}" [ngClass]="{ 'is-invalid': f.submitted && source.invalid }" #source="ngModel" ></ngx-select>
                            <div *ngIf="f.submitted && source.invalid" class="invalid-feedback">
                                <div *ngIf="source.errors?.required">Source is required </div>
                            </div>
                            
                        </div>
                        <div class="col-xs-12 col-12 col-md-4 form-group select2">
                            <span>Date</span>
                            <input type="date" placeholder="Date" [(ngModel)]="searchDetails.date" name="date" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && date.invalid }" #date="ngModel" >
                            <div *ngIf="f.submitted && date.invalid" class="invalid-feedback">
                                <div *ngIf="date.errors?.required">Date is required </div>
                            </div>
                        </div>
                    </div>
                    <!-- <ng-container *ngFor="let city of citiesNumber; let i = index">
                        <label >
                              {{ gender }}: 
                              <input type="radio" name="gender" [value]="gender" 
                                ngModel required #myGender="ngModel" />
                        </label>
                            
                        <div *ngIf="last" [hidden]="!myGender.hasError('required')">
                           The gender is required
                         </div>
                      </ng-container> -->
                    <ng-container *ngFor="let city of citiesNumber; let i = index;">
                        <div class="row">
                            <div class="col-md-8">
                                <span>City {{city}}</span>
                                <ngx-select [items]="airports.city" [(ngModel)]="searchDetails.cities[i].city" [ngModelOptions]="{standalone: true}"  [name]="city" ></ngx-select>
                            </div>
                            <div class="col-md-3">
                                <span>Days</span>
                                <input type="number" class="form-control" [(ngModel)]="searchDetails.cities[i].days"  name="{{'days'+i}}" min="1" placeholder="Number of Days" >
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="close text-centre" id="i" (click)="removeCity(i)" *ngIf="citiesNumber.length > 1" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                            </div>
                        </div>
                    </ng-container>
                    <div class="row">
                        <div class="col-md-8" >
                            <button type="button" class="btn  btn-city" (click)="onAdd()">
                                Add City
                             </button>
                        </div>   
                    </div>
            </div>
            
            <div class="col-md-4 travellers-section">
                <span class="travellers">Travellers</span>
                <div class="row">
                    <div class="dropdown row ts">
                        <div class="col-md-3"><span style="max-width: 100%;">Class</span></div>
                        <div class="col-md-8">
                            <select  class="btn-dropdown form-control" name="singleSelect" [value]='Economy' [(ngModel)]="searchDetails.class">
                            <option value="Economy" [selected]='true'>Economy</option>
                            <option value="Premium Economy">Premium Economy</option>
                            <option value="Business">Business</option>
                            <option value="First-Class">First-Class</option>
                        </select>
                    </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="adult-count row ts">
                        <div class="col-md-4">
                            <span class="adultchild">Adults</span >
                        </div>
                        <div class="col-md-8" > 
                            <div class="incdecdiv">
                                <button  type="button" class="btn btn-incdec" (click)="onDecrementAdult()" [disabled]="adult_count == 1">-</button>
                                <label class="traveller-count" name="adults">{{adult_count}}</label>
                                <button type="button" class="btn btn-incdec" (click)="onIncrementAdult()" [disabled]="adult_count==8">+</button>
                            
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="children-count row ts">
                        <div class="col-md-4">
                            <span class="adultchild">Children</span>
                        </div>
                        <div class="col-md-8">
                            <div class="incdecdiv">
                                <button  type="button" class="btn btn-incdec" (click)="onDecrementChildren()" [disabled]="children_count == 0">-</button>
                                <label class="traveller-count"  name="children">{{children_count}}</label>
                                <button type="button" class="btn btn-incdec" (click)="onIncrementChildren()" [disabled]="children_count==8">+</button>
                            </div>
                        </div>
                    </div> 
                </div>
                        
            </div>
        </div> 
        <div class="footer flight-footer">
                <button type="submit" class="btn btn-search" >Search</button>
        </div>

    </form>
    
</div>
