
<div class="container parent-container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8 select2">
                    <span>Source</span>
                    <ngx-select  [items]="items"></ngx-select>
                </div>
                <div class="col-xs-12 col-12 col-md-4 form-group select2">
                    <span>Date</span>
                    <input type="text" placeholder="Date" class="form-control"#dp="bsDatepicker" bsDatepicker>
                </div>
            </div>
            <div *ngFor="let city of cities">
                <div class="row">
                    <div class="col-md-8">
                        <span>{{city}}</span>
                        <ngx-select [items]="items" [(ngModel)]="itemId"></ngx-select>
                    </div>
                    <div class="col-md-4">
                        <span>Days</span>
                        <input type="number" class="form-control" min="1" placeholder="Number of Days" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8" >
                    <button type="button" class="btn  btn-city" (click)="onAdd()">
                        Add City
                     </button>
                </div>   
            </div>
        </div>
        <div class="col-md-4 travellers-section">
            <span class="travellers">Travellers</span>
            <div class="dropdown row ts">
                <span>Class</span>
                <button type="button" class="btn btn-dropdown dropdown-toggle" data-toggle="dropdown">
                    Class
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Economy</a>
                    <a class="dropdown-item" href="#">Premium Economy</a>
                    <a class="dropdown-item" href="#">Business</a>
                    <a class="dropdown-item" href="#">First-Class</a>
                </div>
            </div>
            <div class="adult-count row ts">
                <span>Adults</span >
                    <div class="incdec"> 
                        <button  type="button" class="btn btn-incdec btn-adult" (click)="onDecrementAdult()" [disabled]="adult_count == 1">-</button>
                        <label class="traveller-count">{{adult_count}}</label>
                        <button type="button" class="btn btn-incdec" (click)="onIncrementAdult()" [disabled]="adult_count==8">+</button>
                    
                    </div>
                </div>
            <div class="children-count row ts">
                <span>Children</span>
                <div class="incdec">
                    <button  type="button" class="btn btn-incdec" (click)="onDecrementChildren()" [disabled]="children_count == 0">-</button>
                    <label class="traveller-count">{{children_count}}</label>
                    <button type="button" class="btn btn-incdec" (click)="onIncrementChildren()" [disabled]="children_count==8">+</button>
                
                </div>
            </div>         
        </div>
    </div> 
    <div class="footer flight-footer">
            <button type="button" class="btn btn-search" >Search</button>
    </div>
</div>
