.nav>li {
    float: left;
    margin-bottom: 3px;
    width: 100%;
    /* align-items: center; */
    text-align: left;
    border-bottom: 1px solid lightgray;

}

.active-tab{
    background-color: whitesmoke;
}

label{
    margin: 8px;
}