body {
    background-image: url('src\assets\images\home_background_image.png');
    position: relative;
    background-size: cover;
    min-height: 100%;
    min-height: 100vh;
}


  /* body css starts here */

  .container {
    background-color: rgba(5, 5, 5, 0.829);
    max-width: 95%;
    height: 80%;
    height: 88vh;
    display: flex;
    position: relative;
    top: 60px;
    flex-direction: column;
    min-height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
  }
  .flightroutediv{
      height: 70px;
      display: flex;
      box-sizing: border-box;
      position: relative;
      flex-direction: column;
      background-color: rgb(31, 31, 31);
      border-top-left-radius: 10px;
      align-items: stretch; 
  }
  .cheapestroute{
    color: rgb(255, 255, 255);
    background-color: rgb(70, 42, 42);
    height: 100%;
    /* height: auto; */
    /* max-height: 100%; */
    font-size: 100%;
    font-weight: bold;
    /* display: flex;
    position: relative;
    flex-direction: column; */
    /* height: 100%; */
    /* display: flex;
  align-items: center;
  justify-content: center; */
}
  .flightroute{
      color: white;
      /* height: 100%; */
      background-color: rgb(22, 22, 22);
  }
  .route-path{
      margin-top: 20px;
  }
  .arrow {
      margin-left: 10px;
      margin-right: 10px;
  }
  .total-cost{
      color: rgb(175, 175, 175);
      font-size: 15px;
      margin-left: 0;
      margin-right: 0;
      display: flex;
      position: relative;
      /* flex-direction: column; */
      align-items: center;
      justify-content: center;
  }
  .cost {
      margin-left: 0;
      margin-right: 0;
      color: white;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .flight-detail-header {
    margin-top: -15px;
    margin-bottom: -15px;
    height: 30px;
  }
  .flight-number {
    height: 100%;
    font-size: 13px;
    font-weight: bold;
    color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flight-cost{
    font-size: 100%;
    font-weight: bold;
    color: rgb(35, 35, 87);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carrier-name {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flight-number,.flight-cost,.carrier-name {
    /* margin-bottom: 20px; */
  }
  .dep-arr-heading {
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: rgb(57, 57, 122);
    
    display: block;
    
  }
  .dep-arr-div {
    font-size: 15px;
    
    /* display: flex;
    align-items: center;
    justify-content: center; */

  }
  .dep-arr {
    font-weight: bold;
    margin-right: 10px;
    /* margin-left: 150px; */
  }
  /* .airline-logo {
     background-image: url('src\assets\Airlines_logo\ACA.png') repeat 0 0; 
    width: 100%;
    height: 100%;
  } */
.travellerdetail{
    height: 70px;
    width: 100%;
    position: relative;
    /* top: 100px; */
    /* margin-right:10px; */
    border-top-right-radius: 10px;
    background-color: seashell;
}

.accordion {
    margin-top: 10px;
}


.source,.destination {
    font-size: 15px;
    font-weight: bolder;
    display: flex;
  align-items: center;
  justify-content: center;
}
.flighttraveltime {
    font-size: 12px;
    font-weight: bold;
    display: flex;
  align-items: center;
  justify-content: center;

}
.arrdepptime{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center
}
hr.line1 {
    border-top: 1px solid rgb(94, 94, 94);
    margin-top: 0px;
}
/* .searchdetailbody {
    min-height: 300px;
    background-color: seashell;
} */